<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{ fragments/resources :: resources }"></th:block>
  <title>Pizzas</title>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar('pizzas', ${keyword}, true)}"></th:block>
<div class="container">
  <table th:if="${list.size() > 0}" class="table table-dark table-striped mt-5">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
    <th></th>

    </thead>
    <tbody>
    <tr th:each="pizza : ${list}" th:object="${pizza}">
      <td th:text="*{name}"></td>
      <td th:text="*{description}"></td>
      <td th:text="*{price}"></td>
      <td>
        <div class="container-img">
          <img th:src="*{imgPath}" th:alt="*{name}">
        </div>
      </td>
      <td>
        <a th:href="@{|/pizzas/*{id}|}" class="text-light"  title="detail"><i
                class="fa-solid fa-pizza-slice"></i></a>
      </td>

    </tr>
    </tbody>
  </table>
  <h1 class="text-center mt-5" th:unless="${list.size() > 0}">There are no pizzas</h1>
</div>

</body>
</html>