<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{ fragments/resources :: resources }"></th:block>
  <title>Detail Pizza</title>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar('pizzas', '', false)}"></th:block>
<div class="container" th:object="${pizza}">
  <h1 class="mt-5" th:text="|Pizza: *{name}|">Books</h1>
  <hr/>
  <div>
    <dl>
      <dt>Ingredients</dt>
      <dd th:text="*{description}"></dd>
      <dt>Price</dt>
      <dd th:text="*{price}"></dd>
      <dt>Images</dt>
      <div class="container-img-show">
        <img th:src="*{imgPath}" th:alt="*{name}">
      </div>

    </dl>
    <th:block th:replace="~{fragments/btn :: button('All Pizzas','/')}"></th:block>

  </div>
</div>

</body>
</html>